.app 
  min-height: 100%
  width: 100%

.main 
  height: 480px
  margin: 30px 30px

.header 
  display: flex
  margin: 25px
  justify-content: center

  h1
    color: #feda4a
    letter-spacing: 0.25em
    font-size: 5em
    font-weight: 600

  button
    margin-left: 20px 
