.app 
  min-height: 100%
  width: 100%

.main 
  border: 2px solid #feda4a
  height: 450px
  margin: 40px 40px

.header 
  display: flex
  margin: 25px
  justify-content: center

  h1
    color: #feda4a
    font-size: 5em

  button
    margin-left: 20px 
