.card 
  align-items: center
  border: 1px solid #feda4a
  color: #feda4a
  display: flex
  flex-direction: column
  height: 100%
  margin-top: 30px
  justify-content: center
  width: 30%

  ul 
    margin: 9% 3%
    line-height: 2
    font-size: 1.2em

  button
    background-color: #4b074b
    border: none
    box-shadow: 0 0 5px 3px rgba(0, 59, 168, 0.8)
    color: #feda4a
    font-family: 'Oswald', sans-serif
    font-size: 1.6em
    height: 60px
    letter-spacing: 0.15em
    margin: 20px
    outline: none
    width: 60%
    &:hover
      background-color: #feda4a
      color: #4b074b

  h1 
    letter-spacing: 0.15em
    font-size: 2.2em
    font-weight: 600
    margin-top: 3%


.highlighted 
  
  button
    background-color: #feda4a
    color: #4b074b
    box-shadow: 0 0 5px 3px rgba(0, 59, 168, 0.8)


@media (max-width: 1050px)
  .card 
    width: 40%
    
    h1 
      font-size: 1.8em
    
    ul
      font-size: 1em

@media (max-width: 775px)
  .card 
    width: 80%

@media (max-width: 500px)
  .card 
    width: 96%

@media (max-width: 350px)
  .card h1
    font-size: 1.5em