.card 
  align-items: center
  border: 1px solid #feda4a
  color: #feda4a
  display: flex
  flex-direction: column
  height: 80%
  margin-top: 30px
  justify-content: center
  width: 30%
  
  li 
    font-size: 1.2em
    margin-top: 10px

  button
    background-color: lightgray
    font-family: 'Oswald', sans-serif
    font-size: 1.2em
    height: 35px
    letter-spacing: 0.15em
    margin-top: 30px
    outline: none
    width: 43%
    &:active
      background-color: #feda4a

  h1 
    letter-spacing: 0.15em
    font-size: 2.2em
    font-weight: 600

.highlighted 
  
  button
    background-color: #feda4a