.nav 
  display: flex
  margin: 30px 0 
  width: 100%

  button 
    background-color: #4b074b
    border: none
    box-shadow: 0 0 5px 3px rgba(0, 59, 168, 0.8)
    color: #feda4a
    font-family: 'Oswald', sans-serif
    font-size: 1.6em
    height: 60px
    letter-spacing: 0.15em
    margin: 20px
    width: 14%
    outline: none
    
    &:hover
      background-color: #feda4a
      color: #4b074b
      
      a
        color: #4b074b

  a 
    color: #feda4a
    text-decoration: none
.nav-btns 
  align-content: space-between
  display: flex
  justify-content: center
  width: 100%

@media (max-width: 1200px) 
  .nav button 
    font-size: 1.3em 
    margin: 18px
    width: 13%

@media (max-width: 1075px) 
  .nav button 
    font-size: 1.1em 
    margin: 16px
    width: 12.5%
    
@media (max-width: 975px) 
  .nav 
    
    button 
      margin: 15px
      width: 15%

    a 
      line-height: 1.5

@media (max-width: 940px) 
  .nav 
    align-items: center
    flex-direction: column
    margin: 0

    button  
      font-size: 1.5em
      width: 66%
  
  .nav-btns
    align-items: center
    flex-direction: column
