.nav {
  display: flex;
  margin: 30px 0;
  width: 100%; }
  .nav button {
    background-color: #4b074b;
    border: none;
    box-shadow: 0 0 5px 3px rgba(0, 59, 168, 0.8);
    color: #feda4a;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    height: 60px;
    letter-spacing: 0.15em;
    margin: 20px;
    width: 14%;
    outline: none; }
    .nav button:hover {
      background-color: #feda4a;
      color: #4b074b; }
      .nav button:hover a {
        color: #4b074b; }
  .nav a {
    color: #feda4a;
    text-decoration: none; }

.nav-btns {
  align-content: space-between;
  display: flex;
  justify-content: center;
  width: 100%; }

@media (max-width: 1200px) {
  .nav button {
    font-size: 1.3em;
    margin: 18px;
    width: 13%; } }

@media (max-width: 1075px) {
  .nav button {
    font-size: 1.1em;
    margin: 16px;
    width: 12.5%; } }

@media (max-width: 975px) {
  .nav button {
    margin: 15px;
    width: 15%; }
  .nav a {
    line-height: 1.5; } }

@media (max-width: 940px) {
  .nav {
    align-items: center;
    flex-direction: column; }
    .nav button {
      font-size: 1em;
      width: 66%; }
  .nav-btns {
    align-items: center;
    flex-direction: column; } }
