.nav {
  display: flex;
  align-content: space-between;
  justify-content: center;
  margin: 30px; }
  .nav button {
    background-color: #4b074b;
    border: none;
    box-shadow: 0 0 5px 3px rgba(0, 59, 168, 0.8);
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    height: 60px;
    letter-spacing: 0.15em;
    margin: 20px;
    width: 14%;
    outline: none; }
    .nav button:hover {
      background-color: #feda4a; }
      .nav button:hover a {
        color: #4b074b; }
  .nav a {
    color: #feda4a;
    text-decoration: none; }
